assets/fix_training_data/autohawko.RData filter=lfs diff=lfs merge=lfs -text
assets/fix_training_data/HCP_hp2000.RData filter=lfs diff=lfs merge=lfs -text
assets/fix_training_data/Standard.RData filter=lfs diff=lfs merge=lfs -text
assets/fix_training_data/WhII_MB6.RData filter=lfs diff=lfs merge=lfs -text
assets/fix_training_data/WhII_Standard.RData filter=lfs diff=lfs merge=lfs -text
assets/hcp_qc/fsaverage32k_template.scene filter=lfs diff=lfs merge=lfs -text
assets/hcp_qc/func2cifti_template.scene filter=lfs diff=lfs merge=lfs -text
assets/hcp_qc/MNIfsaverage32k_template.scene filter=lfs diff=lfs merge=lfs -text
assets/hcp_qc/native_template.scene filter=lfs diff=lfs merge=lfs -text
assets/labels/buckner-association-ctx.labels filter=lfs diff=lfs merge=lfs -text
assets/labels/buckner-da-dmn.labels filter=lfs diff=lfs merge=lfs -text
assets/labels/buckner-detailed.labels filter=lfs diff=lfs merge=lfs -text
assets/labels/dmn.labels filter=lfs diff=lfs merge=lfs -text
assets/labels/dosenbach-2010-160.csv filter=lfs diff=lfs merge=lfs -text
assets/labels/dosenbach-2010-160.labels filter=lfs diff=lfs merge=lfs -text
assets/labels/nacc.labels filter=lfs diff=lfs merge=lfs -text
assets/fix_training_data filter=lfs diff=lfs merge=lfs -text
assets/hcp_qc filter=lfs diff=lfs merge=lfs -text
assets/labels filter=lfs diff=lfs merge=lfs -text
assets/logo.png filter=lfs diff=lfs merge=lfs -text
assets/logo.svg filter=lfs diff=lfs merge=lfs -text
assets/MNI152_T1_1mm_brain_mask_dil.nii.gz filter=lfs diff=lfs merge=lfs -text
assets/MNI152_T1_1mm_brain.nii.gz filter=lfs diff=lfs merge=lfs -text
assets/MNI152_T1_1mm.nii.gz filter=lfs diff=lfs merge=lfs -text
assets/MNI_avg152T1.nii.gz filter=lfs diff=lfs merge=lfs -text
assets/qcviews_template.scene filter=lfs diff=lfs merge=lfs -text
assets/README.md filter=lfs diff=lfs merge=lfs -text
assets/shen_1mm_268_parcellation.nii.gz filter=lfs diff=lfs merge=lfs -text
assets/shen_2mm_268_parcellation.nii.gz filter=lfs diff=lfs merge=lfs -text
assets/labels/striatum.labels filter=lfs diff=lfs merge=lfs -text
assets/mcr_v715/** filter=lfs diff=lfs merge=lfs -text
